:root {
  --main-color: #eaeaea;
  --secondary-color: #fff;
  --border-color: #c1c1c1;
  --main-text: black;
  --secondary-text: #4b5156;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--main-text);
}

p,
li,
span,
label,
textarea {
  color: var(--secondary-text);
}

.s1 {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

.s2 {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}
